@media screen and (max-width: 640px) {
  #frontwrapper {
    font-size: 0.88em;
  }
  #frontwrapper .title {
    font-size: 1.4em;
  }
  #frontwrapper.front-page paper-material.front-page {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #frontwrapper.front-page /deep/ paper-item {
    font-size: 12px !important;
  }
}
#frontwrapper .header {
  color: inherit;
}
#frontwrapper img[src*=".svg"] {
  width: 100%;
}
#frontwrapper .card {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 4px;
  margin-right: 4px;
}
#frontwrapper paper-material {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.imagewrapper {
  position: relative;
}
