$font-name-heading:       'roboto-slab';
$font-lang:               'en';
@import 'theme/sass/base';

body {
  font-family: $font-body;

  /deep/ {
    h1,
    h2,
    h3 {
      font-family: $font-heading;
    }
  }
}

.polymer-theme {
  $color-name-primary:    'blue-grey';
  $color-name-secondary:  'pink';
  $color-name-text:       'blue-grey';
  @import 'theme/sass/variables';
    @import 'theme/sass/blocks/all';
}
