$font-name-heading:       'roboto-slab';
$font-lang:               'en';
@import 'theme/sass/base';

.polymer-theme {
  $color-name-primary:    'light-blue';
  $color-name-secondary:  'red';
  @import 'theme/sass/variables';
    @import 'theme/sass/blocks/all';
  font-family: $font-body;

  h1,
	h2,
	h3 {
		font-family: $font-heading;
		color: $color-accent-primary !important;
	}
}

